In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('HousingPrice_dataset.csv')
df.head()

,ID,Square_Feet,Num_Bedrooms,Num_Bathrooms,Num_Floors,Year_Built,Has_Garden,Has_Pool,Garage_Size,Location_Score,Distance_to_Center,Price
0,1,143.635030,1,3,3,1967,1,1,48,8.297631,5.935734,602134.816700
1,2,287.678577,1,2,1,1949,0,1,37,6.061466,10.827392,591425.135386
2,3,232.998485,1,3,2,1923,1,0,14,2.911442,6.904599,464478.696880
3,4,199.664621,5,2,2,1918,0,0,17,2.070949,8.284019,583105.656000
4,5,89.004660,4,3,3,1999,1,0,34,1.523278,14.648277,619879.142523

In [4]:
#remove column named id
df=df.drop(columns='ID')
df.head()

,Square_Feet,Num_Bedrooms,Num_Bathrooms,Num_Floors,Year_Built,Has_Garden,Has_Pool,Garage_Size,Location_Score,Distance_to_Center,Price
0,143.635030,1,3,3,1967,1,1,48,8.297631,5.935734,602134.816700
1,287.678577,1,2,1,1949,0,1,37,6.061466,10.827392,591425.135386
2,232.998485,1,3,2,1923,1,0,14,2.911442,6.904599,464478.696880
3,199.664621,5,2,2,1918,0,0,17,2.070949,8.284019,583105.656000
4,89.004660,4,3,3,1999,1,0,34,1.523278,14.648277,619879.142523

In [5]:
X=df.drop(columns='Price')
y=df['Price']
print('X shape:',X.shape)
print('y shape:', y.shape)

X shape: (500, 10)
y shape: (500,)

In [ ]:
from sklearn.preprocessing import StandardScaler
#Standardize the data
scaler= StandardScaler()
X_scaled=scaler.fit_transform(X)

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_scaled,y,test_size=0.2,random_state=1)

In [17]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [22]:
def train(model,name):
    print(name)
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    print(f"Mean Squared Error (MSE) on Test Set: {mse:.4f}")
    print(f"Mean Absolute Error (MAE) on Test Set: {mae:.4f}")

In [25]:
####train linear regression###
LR=LinearRegression()
train(LR,'Linear Regression training')

Linear Regression training
Mean Squared Error (MSE) on Test Set: 300329323.9696
Mean Absolute Error (MAE) on Test Set: 14210.4288

In [ ]:
#train ridge regression
alpha=[0.5,2]

for a in alpha:
    RR=Ridge(alpha=a)
    train(RR,f'Ridge Regression training with alpha={a}')

Ridge Regression training with alpha=0.5
Mean Squared Error (MSE) on Test Set: 300520392.1722
Mean Absolute Error (MAE) on Test Set: 14213.8523
Ridge Regression training with alpha=2
Mean Squared Error (MSE) on Test Set: 301410216.1772
Mean Absolute Error (MAE) on Test Set: 14224.0971

In [27]:
#train Lasso regression
alpha=[0.1,0.5]
for a in alpha:
    model=Lasso(alpha=a)
    train(model,f'Lasso Regression training with alpha={a}')

Lasso Regression training with alpha=0.1
Mean Squared Error (MSE) on Test Set: 300328777.9370
Mean Absolute Error (MAE) on Test Set: 14210.4038
Lasso Regression training with alpha=0.5
Mean Squared Error (MSE) on Test Set: 300326387.2390
Mean Absolute Error (MAE) on Test Set: 14210.2992